SERVER_PORT=3000
WEBSITE_PORT=5555

# Application Variables
APP_URL="http://localhost:5555" # domain or localhost:${SERVER_PORT}
SERVER_URL="http://localhost:3000" # domain or localhost:${WEBSITE_PORT}

JWT_SECRET="secret" # Change this value
API_KEY="secret" # Change this value

# Database Variables
MONGO_URI="mongodb://..."

# Discord Secrets
DISCORD_TOKEN="..." # Copy this from the Discord Developer dashboard

DISCORD_OAUTH_CLIENT_ID="..." # Copy this from the Discord Developer dashboard
DISCORD_OAUTH_CLIENT_SECRET="..." # Copy this from the Discord Developer dashboard

# Roblox Secrets
ROBLOX_OAUTH_ID=""  # Copy this from Roblox's OAuth dashboard
ROBLOX_OAUTH_SECRET="" # Copy this from Roblox's OAuth dashboard

# Discord Guild Variables
GUILD_ID="..." # Required
ADMIN_ROLE_ID="..." # Used for bot / dashboard. if not provided only owner can manage 
PURCHASE_LOGS_CHANNEL_ID="" # If not provided, it will either find or create a channel named "purchase-logs"

