# Application Variables
PORT=3000
JWT_SECRET="secret"

# Database Variables
MONGO_URI="mongodb://192.168.2.4:27017/dash-test?directConnection=true"

# Discord Secrets
DISCORD_OAUTH_CLIENT_ID=""
DISCORD_TOKEN=""

# Discord Guild Variables
GUILD_ID="1432446717529296959"
ADMIN_ROLE_ID="1436453533263331380" # Used for bot / dashboard. if not provided only owner can manage 
PURCHASE_LOGS_CHANNEL_ID="" # if this does not exist will default to using #purchase-logs 